.register {
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
    padding: 2rem 1.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 4px 4px #6f6363;
}

.input__container {
    padding: 1rem 0;
}

.input__control {
    height: 4.5rem;
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid #6c6ce4;
    outline: none;
    border-radius: 5px;
}

.message__error {
    color: red;
    margin-left: .8rem;
}

.input__control:focus {
    box-shadow: 0 0 0 4px #d7d7ff;
}

.input__control::placeholder {
    font-size: 1.6rem;
}

.input__control.submit {
    background-color: #6565e4;
    color: white;
    cursor: pointer;
}

.input__control:focus.submit {
    box-shadow: none;
    background-color: #7373c7;
}